: :root {
    --outer-circle: #91684a ;
    --inner-circle: #eaac7f;
    --center: #ffdf91 ;

}

.inner-circle {
    background-color: #eaac7f;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin: -62.5px 0 0 -62.5px;
    position: absolute;
    top: 50%;
    left: 50%
}

.outer-circle {
    background-color: #91684a;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
}

.center {
    background-color: #ffdf91;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: -37.5px 0 0 -37.5px;
    position: absolute;
    top: 50%;
    left: 50%
}