:root {
    --outer-circle: #91684a;
    --inner-circle: #eaac7f;
    --center: #ffdf91;

}

body {
    background-color: #f1bbd5; /* main background color */
 
}

 /* for outer circle div */
.outer-circle {
    background-color: #2e38bd;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    margin: 0 auto;
    background: radial-gradient(circle at 100px 100px, #2e38bd, #000)

}

/* for shadow and 3d effect */

.stage {
    width: 500px;
    height: 500px;
    display: inline-block;
    margin: 100px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    position: relative;
}

.outer-circle .shadow {

    position: absolute;
    width: 100%;
    height: 100%;
    background: radical-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}



/* for inner circle div */
.inner-circle {
    background-color: #2e38bd;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    /* code below this line for centering inner-circle div */
    margin: -175px 0 0 -175px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 0 1px #fcfcfc;
} */

/* for center div  */
.center {
    background-color: #2e38bd;
    border-radius: 50%;
    /* code below this line for centering inner-circle div */
    width: 175px;
    height: 175px;
    margin: -87.5px 0 0 -87.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 0 1px #fcfcfc;
} */